<html>
	<head>
		<title>CDI13 - Cours</title>
		
		<script type="text/javascript" src="{{ asset('js/jquery.js') }}" ></script>
		<script type="text/javascript" src="{{ asset('js/GetDatas.js') }}" ></script>
		<script type="text/javascript" src="{{ asset('js/SendDatas.js') }}" ></script>
		<script type="text/javascript" src="{{ asset('js/PageBuilder.js') }}" ></script>
		<script type="text/javascript" src="{{ asset('js/DisplayManager.js') }}" ></script>
		<script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>


		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<!-- Other CSS -->
		<link rel="stylesheet" type="text/css" href="{{ asset('css/body.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('css/section.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/head.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('css/textarea.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/button.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('css/loader.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('css/z-index.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('css/screen.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ asset('css/colors.css') }}">
	</head>

	<body>

		<section id="head" class="row">

			<!-- Permet la recherche -->

			<section id="head_back">
				<div id="head_back_button" class="button">
					&lt;
				</div>
			</section>

			<section id="head_add_container_searchtextbox">
				<div id="head_search_textarea" class="textarea" contenteditable>
					Chercher un cours
				</div>
			</section>

			<!-- Permet l'ajout de liens -->

			<section id="head_add_container_addtextbox">
				<div id="head_add_textarea" class="textarea" contenteditable>
					Ajouter un lien vers un cours
				</div>
			</section>

			<section id="head_add_container_addbutton">
				<div id="head_add_button" class="button">
					Ajouter
				</div>
			</section>
				
		</section>

		<section id="nav" class="row">
			<!-- Contient la navigation -->

			<section id="nav_subjects" class="placement-hidden-right">
				<!-- Liste des matières -->

				<!-- 
					Les matières sont de type :
					<div class="nav_subjects_object" data-cdi13-id="<subject_id>">Nom de la matière</div>
				 -->
			</section>

			<section id="nav_links" class="placement-hidden-right">
				<!-- Liste des cours de la matière selectionnée -->

				<!-- 
					Les matières sont de type :
					<div class="nav_links_object" data-cdi13-id="<id>" data-cdi13-link="<lien>">Nom du cours</div>
				 -->
			</section>

			<section id="nav_markdown" class="placement-hidden-right">
				{# Affiche le markdown d'un cours #}
				<section id="nav_markdown_text">
					{# Le markdown sera placé ici #}
				</section>
			</section>

		</section>

	</body>
</html>
